APP_NAME = "MINI_RAG"
SECRET_KEY = "your_secret_key_here"
APP_VERSION = "0.1.0"

FILE_ALLOWED_EXTENSIONS = ["text/plain", "application/pdf"]
MAX_FILE_SIZE_MB = 5
FILE_DEFAULT_CHUNK_SIZE = 512000  #512KB